extends layout

append head
	script(data-main='/js/main-page', src='/js/require.js')

block content
	- var text = "Hello from server"
	//- below could be symlinked to have normal paths
	include ../src/js/views/hello.jade